body {
  background: linear-gradient(45deg, lightblue, royalblue);
  height: 100vh;
}

h1,
h2 {
  text-align: center;
  padding: 2rem;
  margin: 2rem;
  display: inline;
}

.quiz-box,
.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 5%;
  padding: 2em;
  text-align: center;
  background-color: antiquewhite;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  background-color: lightgray;
  padding-top: 2rem;
  margin-top: -3%;
  max-width: 900px;
  height: 50vh;
}

#question-text {
  margin-bottom: 3rem;
  text-align: center;
}

.choices {
  display: flex;
  justify-content: space-around;
}

.choice,
.start {
  font-size: 1em;
  display: block;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  background-color: royalblue;
  color: antiquewhite;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.start {
  margin-top: 2rem;
  margin-left: 2rem;
  padding: 1.5rem 1rem;
  border: 2px antiquewhite solid;
}

.choice:hover,
.start:hover {
  background-color: navy;
}

form {
  margin: 2rem;
  padding: 2%;
}
