/* Body styling */
body {
  box-sizing: border-box;
  background: linear-gradient(45deg, lightblue, royalblue);
  height: 100vh;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
}
/* Headings */
h1,
h2 {
  text-align: center;
  padding: 2rem;
  margin: 2rem;
  display: inline;
  font-size: 1.75rem !important;
}
/* Parent containers */
.quiz-box,
.container {
  width: auto;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 5%;
  padding: 2em;
  text-align: center;
  background-color: antiquewhite;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
  background-color: lightgray;
  padding-top: 2rem;
  max-width: 800px;
  min-height: 45vh;
}
/* Quiz questions */
#question-text {
  margin-bottom: 3rem;
  text-align: center;
}

.choices {
  display: flex;
  justify-content: space-around;
}
/* buttons */
.choice,
.start {
  font-size: 1em;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  background-color: royalblue;
  color: antiquewhite;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.start {
  margin: 1rem;
  padding: 1.5rem 1rem;
  border: 2px antiquewhite solid;
}
/* on hover */
.choice:hover,
.start:hover {
  background-color: navy;
}
/* Display hidden or none toggle classes */
.hidden {
  display: none;
}

.none {
  display: none;
}

/* Form */
#form {
  margin: 2rem;
  margin-left: 4rem;
  padding: 2%;
  width: auto;
  max-width: 65%;
}
/* Leaderboard */
#leaderboard {
  min-height: 20vh;
  text-align: center;
  max-width: 50vw;
}

#leaderboard li {
  text-align: left;
}

li {
  background-color: antiquewhite;
  width: 75%;
  margin-left: 1rem;
  padding-left: 1rem;
  border-radius: 3px;
}

#leaderboard .btn {
  margin-top: 1rem;
}

@media only screen and (max-width: 766px) {
  body {
    font-size: 12px;
  }
  h1,
  h2,
  h3 {
    font-size: 18px !important;
    display: block;
    padding: 0;
  }
  .start,
  .restart {
    transform: scale(0.72);
  }
  li {
    font-size: 12px;
    padding-left: 0.5rem;
    margin: 0;
  }
  #leaderboard {
    max-width: 75vw;
  }
}
